body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  
body,
html {
  background: #4DA6BB;
  overflow: visible;
  height: 100%;
  width: 100%;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
}
h1{
  color: black;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
.jumbotron {
    background-image: url("http://i.imgur.com/nPNKALN.jpg");
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/*------------- Navbar ---------------------- */
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: black !important;
    background-color: #fff !important;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 50%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}

 
/*------------- Floating Contact ---------------------- */

#modalout {
  z-index: 20;
  position: fixed;
  width: 300px;
  height: 800px;
  top: 40px;
  right: -300px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.showmodalout {
  right: 0px !important;
}


.modaloutTab {
  color: black;
  margin-top: 50px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #FFC107;
  
}

.modaloutTab div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #FFC107;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}
.modal-body {
  height: 400px;
}




body,
html {
  background: #4DA6BB;
  overflow: visible;
  height: 100%;
  width: 100%;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
  }