* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	
	padding: 24px 10px;
    float: right;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {
	background: lightgrey;
}

#screen1 p {
	padding-top: 200px;
}

#screen2 {
	background: #efc94d;
}

#screen3 {
	background: black;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}
#mainlogo{
    margin-top: 15px;
    width: 20%;
    float: left;
}

label {
  color: #FFFFFF; 
}
input {
  width: 100%;
}
.sunny-button {
  width: 100%;
	display: inline-block;
	padding: 10px 20px;
	background: #39d084;
	color: #fff;
	text-transform: uppercase;
	font-size: 26px;
	margin: 10px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
  border: none;
}

/* Floating Contact ---------------------- */
.sunny-blue .sunny-floating-icon, 
.sunny-blue .sunny-floating-link {
	background: #2c3e50;
}
.sunny-orange .sunny-floating-icon, 
.sunny-orange .sunny-floating-link {
	background: grey;
}
.sunny-green .sunny-floating-icon, 
.sunny-green .sunny-floating-link {
	background: grey;
}
.sunny-floating-contact-wrap {
	position: fixed;
	right: -260px;
	font-size: 20px;
	opacity: 0.6;
	z-index: 999;
  -webkit-transition: right 1s;
	-moz-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
}
.sunny-floating-contact-wrap:first-child {
	top: 70px;
}
.sunny-floating-contact-wrap:nth-child(2) {
	top: 145px;
}
.sunny-floating-icon, .sunny-floating-link {
	text-align: center;
}
.sunny-floating-icon {
	width: 48px;
	float: left;
	padding: 10px;
}
.sunny-floating-icon i:before {
	vertical-align: middle;
}
.sunny-floating-link {
	width: 260px;
  min-height: 48px;
	padding: 10px 0;
	overflow: hidden;
}
.sunny-floating-link a {
	white-space: nowrap;
  color: #FFFFFF;
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}
.sunny-floating-link a:hover {
  color: #FFFFFF;
	color: rgba(255,255,255,1);
}
.sunny-floating-link form, 
.sunny-floating-link a {
	width: 240px !important;
	margin: 0 10px;
}
/* Hover Effect */
.sunny-floating-contact-wrap.hover {
	opacity: 1;
  right: 0;
}
.sunny-floating-contact-wrap.hover .sunny-floating-link {
	right: 0;
}




















.wrapper-parallax {
    margin-bottom: 80px;
}







footer {
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    background: grey;
    height: 80px;
}
footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
  footer {
    height: 150px;
}
.wrapper-parallax {
    margin-bottom: 150px;
}
#mainlogo{
    margin-top: 30px;
    width: 40%;
    float: left;
}
  
}
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  background-color: #222;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.insta{
  background-color: #1E83AE;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3DACDD;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #6dcd9a;
  font-size: 0.8em;
  width: 40%;
}