body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}
.title{
  
  text-align: center;
	margin:  auto;
  padding-top: 30px;
}
h1{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 40px;
	max-width: 40%;
	margin: 20px auto;
}
h3{
	width: 40%;
	padding-bottom: 10px;;
	text-align: center;
	margin: 20px auto;
}
@media(min-width: 500px){
	h3{
		width: 60%;
	}
}

/* -------------Social ------------------*/

.socialinfo {
  text-align: center; 
}
.socialimg{
  width: 100px;
  padding: 10px;
}
.whoimage{
  padding-top: 20px;
  text-align:center;
}
.whoimage1{
  padding-top: 50px;
  text-align:center;
}


/* -------------Container ------------------*/

.container {
	max-width: 850px; 
width: 100%; 
margin: 0 auto;
}
.radioone { 
	width: 18%; 
	max-width: 18%;
}
.radioone img{
  width: 120%;
}

/*------------- Columns -------------------*/

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 0;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ----------Label Boxes -----*/

.form .pizza-type input, .form .topping-type input, .form .drink-type input{
	display: none;
}

.form label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 20px;
	text-align: center;
	height: 150px;
	line-height: 270px;
	display: block;
	cursor: pointer;
	border: 5px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .pizza-type input:checked + label, .form .topping-type input:checked + label, .form .drink-type input:checked + label{
	border: 3px solid #333;
	background-color: #b85142;
}

/* -------------Submit ------------------*/

.submit{
	padding: 15px 60px;
	display: inline-block;
	border: none;
	background-color: #b85142;
	color: #fff;
	border: 2px solid #333;
	font-size: 18px;
  margin-top: 30px;
}

.submit:hover{
	cursor: pointer;
	transform: rotateX(30deg);
}

.inputname{
  padding: 15px 60px;
	display: inline-block;
	border: none;
	background-color: #BDBDBD;
	color: #fff;
	border: 2px solid #333;
	font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

/* -------------Images for containers ------------------*/


.imageContainer {
       background-size: 150px 120px;
    background-repeat: no-repeat;
       background-image: url("./images/pizzaitem.png");
 }