

body{
    background-color: #FFF3DF;
}
img{
    width: 10%;
}
h1, h3{
    font-family: 'Indie Flower', Arial, Sans-Serif;
}
h1{
    font-size: 500%;  
    margin-bottom: 2%;
 
}
h3{
    font-size: 200%;
}
.burger{
    margin-top: 10%;
}
#bunHidden, #lettuceHidden, #tomatoHidden, #baconHidden, #cheeseHidden, #pattyHidden{
    display:none;
  } 
  .topBun{
    margin-bottom: 0.5%;  
}
 .lettuce{
    margin-bottom: 0.5%; 
    margin: auto; 
}
.lettuce{
    margin-bottom: 0.5%;  
}
.btmstick{
    margin-top: 4.5%;
    margin-bottom: 0.5%;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);  
    transform: rotate(90deg);
}

@media screen and (max-width: 500px){
    img{
        width: 50%;
    }
    .btmstick{
        margin-top: 22%;
    }
    .box{
        display: inline-block;
    }
    
}


@media (max-width:1400px) and (min-width:500px){
    .box{
        display: inline-block;
    }
    #container{
        width: 800px;
    }
}

/*------Menu Page--------*/



#container {
  width: 600px;
  margin:auto;
}

.box {
  width: 230px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 10px 10px;
  position: relative;
}

.box img {
  width: 230px;
}

.box i {
  width: 50px;
  height: 50px;
  background: #00796B;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  position: absolute;
  right: 20px;
  top: 150px;
  box-shadow: 0 0 4px 2px rgba(80, 80, 80, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.box i:hover {
  transform: scale(1.05);
}

.box h3 {
    font-size: 20px;
  margin-left: 20px;
}

.box p {
  margin-left: 20px;
}

#cart {
  margin-top: 50px;
  overflow: hidden;
}

#head {
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  height: 40px;
  display: block;
}

#head h3 {
  display: inline-block;
  line-height: 40px;
  margin: 0;
}

#price {
  display: inline-block;
  color: #777777;
  margin-left: 100px;
  line-height: 40px;
}



.row {
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  overflow: hidden;
  padding: 10px 0;
  display:block;
  flaot:left;
}

.row img {
  height: 100px;
  width: 100px;
  float: left;
}

.row h4 {
  float: left;
  margin: 0;
  line-height: 100px;
  margin-left: 20px;
  width: 100px;
}

.row p {
  float: left;
  margin: 0;
  width: 80px;
  line-height: 100px;
  margin-left: 35px;
  text-align: center;
}



.del {
  float: right;
  width: 80px;
  line-height: 100px;
  margin-right: 60px;
  cursor: pointer;
  text-decoration: underline;
  color: #ED277F;
}




.row p::before,
.box p::before,
.totalprice::before {
  content: "$";
}
